# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## Author
Md Asif Mustafa

Some of the popular languages that Data Scientists use are:

 1 Python
 2 Scala
 3 R
 4 SQL
 5 JAVA
 6 C++

Some of the commonly used libraries used by Data Scientists include:

    1 Panda
    2 Seaborn
    3 Matplotlib
    4 Scikit-learn
    5 Keras
    6 Vegas
    7 Ggplot2

| Data Science Tools|
| :- | 
| Anaconda | 
|Jupyter Notebook|
|R Studio|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Objectives:
* Addition of comments in jupyter notebook
* Mathematical operations
* Difference and principle of markdown and coding cell
* GitHub